.slide-img-only {
    border-bottom: 2px solid #000;
}

.slide-img-only .img-wrapper {
    height: 400px;
}

.square-title {
    text-shadow: #000 0px 0px 10px;
}
.square-date {
    text-shadow: #000 0px 0px 10px;
}
.square-text {
    text-shadow: #000 0px 0px 10px;
}

.swiper-arrow-left.style-11 { padding: 15px 15px 13px 8px; background: rgba(34, 34, 34, 0.5); margin-top: -14px; }
.swiper-arrow-right.style-11 { padding: 15px 8px 13px 15px; background: rgba(34, 34, 34, 0.5); margin-top: -14px; }


/*page styles*/
.page-buffer {
    height: 50px;
    margin: 30px 0;
}
.page-summary {
    font-weight: 700;
    line-height: 1.6;
    font-size: 16px;
}

/* layouts*/
.justify { text-align: justify; }
.no-wrap { white-space: nowrap; }
.left-align { text-align: left !important; }
.no-pad { padding: 0; }
/*overwrites*/
.title-head h1 { font-size: 46px !important; text-align: center; padding-top: 25px; padding-bottom: 20px; font-weight: 100} /* ruby.css */
.wrapper { padding: 20px 0 !important; }


.service-entry:hover { background: #feca16; border-color: #feca16; -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15); box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.15); }
.service-entry:hover .service-icon { display: none; }
.service-entry:hover .service-alt { display: inline-block; }