.slide-img-only {
    border-bottom: 2px solid #000;
}

.slide-img-only .img-wrapper {
    height: 400px;
}

.square-title {
    text-shadow: #000 0px 0px 10px;
}
.square-date {
    text-shadow: #000 0px 0px 10px;
}
.square-text {
    text-shadow: #000 0px 0px 10px;
}

.swiper-arrow-left.style-11 { padding: 15px 15px 13px 8px; background: rgba(34, 34, 34, 0.5); margin-top: -14px; }
.swiper-arrow-right.style-11 { padding: 15px 8px 13px 15px; background: rgba(34, 34, 34, 0.5); margin-top: -14px; }