<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="One of the best Tabs - Slider jQuery plugins">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, nested, multi, transform, transition, lazyload, fullscreen">
    <meta name="author" content="RubyTabs - HaiBach">
    
    <!-- Title of page -->
    <title>SIMPLEST LAYOUT | RUBYTABS</title>

    <!-- Favicon & apple-icon -->
    
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubytabs.css">


    <!-- CSS embed -->
    <style>
    </style>
    
    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script>
    
</head>
<body>


    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- TABS PREVIEW - begin -->
        <div class="rt01"
            data-tabs='{
                "fx"    : "cssOne",
                "speed" : 800,
                "pag"   : { "align": "center" }
            }'>


            <div>
                <div class="rt01pagitem">OVERVIEW</div>

                <div class="row font-blokk">
                    <div class="col4 col-xs-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!</p>
                    </div>

                    <div class="col4 col-xs-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!</p>
                        <p>Nam facilis tempore maxime incidunt deserunt, ipsum pariatur, accusamus animi quidem velit tenetur eum nesciunt quos veniam architecto neque impedit! Sed accusamus commodi dignissimos dolorem distinctio, itaque dicta non maiores?</p>
                    </div>

                    <div class="col4 col-xs-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet blanditiis aspernatur repellendus, esse illum suscipit nihil, minima beatae quaerat labore nisi fugit, officiis dignissimos saepe ab facilis qui non quas!</p>
                        <p>Nam facilis tempore maxime incidunt deserunt, ipsum pariatur, accusamus animi quidem velit tenetur eum nesciunt quos veniam architecto neque impedit! Sed accusamus commodi dignissimos dolorem distinctio, itaque dicta non maiores?</p>
                    </div>
                </div>
            </div>


            <div>
                <div class="rt01pagitem">SLIDER NESTED</div>


                <!-- Dummy Content - begin -->
                <div class="row font-blokk">
                    <div class="col4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                    </div>

                    <div class="col8">
                        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                    </div>
                </div>
                <!-- Dummy Content - end -->
            </div>


            <div>
                <div class="rt01pagitem">SWIPE PREVENT</div>

                <div class="row bg-wrap">
                    <div class="col4">
                        <div class="rt01swipe-prevent area-highlight">
                            <h2 class="color-hl">Area prevent Swipe gestures</h2>
                            <p><i>Insert class "{ns}swipe-prevent" to stop swipe gestures on that element</i></p>
                            <p class="font-blokk"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisqua</i></p>
                            <a class="">Go to &rarr;</a>
                        </div>
                    </div>

                    <div class="col8">
                        <form class="block clearfix">

                            <input type="text" class="large" placeholder="Username">
                            <input type="text" class="large" placeholder="Password">
                            <input type="text" class="large" placeholder="Repeat Password">
                            <input type="text" class="large" placeholder="Email">
                            <textarea name="" cols="30" rows="5" placeholder="Your bio"></textarea>

                            <label class="checkbox text-small muted pull-left" for="terms">
                                <input id="terms" type="checkbox">I have read and I agree the Terms of Use
                            </label>

                            <input class="btn large pull-right no-ma" type="submit" value="Register">
                        </form>
                    </div>
                </div>
            </div>


            <div>
                <div class="rt01pagitem">IMAGE LAZYLOAD</div>

                <div class="row">
                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail1.jpg">Food 1</a>
                    </div>

                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail2.jpg">Food 2</a>
                    </div>

                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail3.jpg">Food 3</a>
                    </div>

                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail4.jpg">Food 4</a>
                    </div>

                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail6.jpg">Food 6</a>
                    </div>

                    <div class="col4">
                        <a class="rt01img card-img" href="imgs/food-thumbnail7.jpg">Food 7</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- TABS PREVIEW - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script src="../libs/scripts/jquery-last.min.js"></script>
    <script src="../libs/scripts/ruby01-old.js"></script>
    <script src="../libs/scripts/ruby01.js"></script>
    <script src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script src="../ruby/rubytabs.js"></script> <!-- RubyTabs Plugins -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>