<!DOCTYPE html>
<!--[if IE 7]> <html class="ie ie7"> <![endif]-->
<!--[if IE 8]> <html class="ie ie8"> <![endif]-->
<!--[if (gt IE 8)|!(IE)]> <html> <![endif]-->
<head>

    <!-- Page Infomations -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="One of the best Tabs - Slider jQuery plugins">
    <meta name="keywords" content="tabs, slider, carousel, gallery, touch, swipe, drag, css3, responsive, nested, multi, transform, transition, lazyload, fullscreen">
    <meta name="author" content="RubyTabs - HaiBach">
    
    <!-- Title of page -->
    <title>ARC TIMER | RUBYTABS</title>

    <!-- Favicon & apple-icon -->
    <link rel="shortcut icon" href="../libs/imgs/icons/favicon.ico">
    <link rel="icon" sizes="192x192" href="../libs/imgs/icons/icon-highres.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../libs/imgs/icons/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../libs/imgs/icons/touch-icon-ipad-retina.png">
    <link rel="apple-touch-icon" sizes="167x167" href="../libs/imgs/icons/touch-icon-ipad-pro.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../libs/imgs/icons/touch-icon-iphone-6-plus.png">


    <!-- CSS link -->
    <link rel="stylesheet" href="../libs/css/ruby00.css">
    <link rel="stylesheet" href="../libs/css/ruby01.css">
    <link rel="stylesheet" href="../libs/css/styles.custom.css">
    <link rel="stylesheet" href="../ruby/rubytabs.css">


    <!-- CSS embed -->
    <style>
    </style>
    
    
    <!-- Script link -->
    <script src="../libs/scripts/modernizr.js"></script>
    
</head>
<body>

    <!-- HEADER - begin
    ======================================================================== -->
    <div class="wrapper header logo-left">
    <div class="container">
        
        <!-- Logo - begin
        ....................................................................  -->
        <a class="logo" href="../templates/" data-mScale="100">RubyTabs</a>
        <!-- Logo - end
        ....................................................................  -->

        

        <!-- Menu - begin
        ....................................................................  -->
        <nav class="rm01">
        <ul class="rm01menu">
            <li>
                <a>Tabs</a>
                <ul class="rm01menu">

                    <li><a href="page-templates-tabs.html">List templates</a></li>

                    <li>
                        <a>Layout</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-layout-device.html">Device</a></li>
                            <li><a href="tabs-layout-vertical.html">Vertical</a></li>
                            <li><a href="tabs-layout-nested.html">Nested</a></li>
                            <li><a href="tabs-layout-bullet.html">Bullet</a></li>

                            <li><a href="tabs-layout-fullwidth.html">Fullwidth</a></li>
                            <li><a href="tabs-layout-page.html">Page</a></li>
                            <li><a href="tabs-layout-box.html">Tabs In Box</a></li>
                        </ul>
                    </li>
                    
                    <li>
                        <a>Effect</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-effect-line.html">Line</a></li>
                            <li><a href="tabs-effect-fade.html">Fade</a></li>
                            <li><a href="tabs-effect-cssOne.html">CSS One</a></li>
                            <li><a href="tabs-effect-cssTwo.html">CSS Two</a></li>
                            <li><a href="tabs-effect-cssFour.html">CSS Four</a></li>
                            <li><a href="tabs-effect-none.html">None</a></li>
                            <li><a href="tabs-effect-random.html">Effect Random</a></li>
                            <li><a href="tabs-effect-control.html">Effect Control</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Style</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-style-flat.html">Flat</a></li>
                            <li><a href="tabs-style-flatbox.html">Flatbox</a></li>
                            <li><a href="tabs-style-outline.html">Outline</a></li>
                            <li><a href="tabs-style-round.html">Round</a></li>
                            <li><a href="tabs-style-underline.html">Underline</a></li>
                            
                            <li><a href="tabs-style-size.html">Size Of Style</a></li>
                            <li><a href="tabs-style-highlight.html">Highlight Slide</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Position</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-pos-hor-beginBegin.html">Hor Begin-Begin</a></li>
                            <li><a href="tabs-pos-hor-beginCenter.html">Hor Begin-Center</a></li>
                            <li><a href="tabs-pos-hor-beginEnd.html">Hor Begin-End</a></li>
                            <li><a href="tabs-pos-hor-beginJustify.html">Hor Begin-Justify</a></li>
                            <li><a href="tabs-pos-hor-endBegin.html">Hor End-Begin</a></li>
                            <li><a href="tabs-pos-hor-endCenter.html">Hor End-Center</a></li>
                            <li><a href="tabs-pos-hor-endEnd.html">Hor End-End</a></li>
                            <li><a href="tabs-pos-hor-endJustify.html">Hor End-Justify</a></li>

                            <li><a class="bo-t" href="tabs-pos-ver-beginBegin.html">Ver Begin-Begin</a></li>
                            <li><a href="tabs-pos-ver-beginCenter.html">Ver Begin-Center</a></li>
                            <li><a href="tabs-pos-ver-beginEnd.html">Ver Begin-End</a></li>
                            <li><a href="tabs-pos-ver-endBegin.html">Ver End-Begin</a></li>
                            <li><a href="tabs-pos-ver-endCenter.html">Ver End-Center</a></li>
                            <li><a href="tabs-pos-ver-endEnd.html">Ver End-End</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Slideshow</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-slideshow-timerArc.html">Arc Timer</a></li>
                            <li><a href="tabs-slideshow-timerLine.html">Line Timer</a></li>
                            <li><a href="tabs-slideshow-timerOnly.html">Timer Only</a></li>
                            <li><a href="tabs-slideshow-random.html">Slideshow Random</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>API</a>
                        <ul class="rm01menu">
                            
                            <li><a href="tabs-api-addremove.html">Add-Remove Tabs</a></li>
                            <li><a href="tabs-api-callback.html">Callback Event</a></li>
                            <li><a href="tabs-api-showByDevice.html">Show By Device</a></li>
                            <li><a href="tabs-api-showInRange.html">Show In Range</a></li>
                            <li><a href="tabs-api-deeplinking.html">Deep Linking</a></li>
                            <li><a href="tabs-api-deeplinkingMulti.html">Deep Linking Multi</a></li>
                            <li><a href="tabs-api-cookie.html">Cookie</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li>
                <a>Slider</a>
                <ul class="rm01menu">

                    <li><a href="page-templates-slider.html">List templates</a></li>

                    <li>
                        <a>Layout</a>
                        <ul class="rm01menu">
                            
                            <li><a href="slider-layout-basic.html">Basic</a></li>
                            <li><a href="slider-layout-classic1.html">Classic-1</a></li>
                            <li><a href="slider-layout-classic2.html">Classic-2</a></li>
                            <li><a href="slider-layout-center.html">Center</a></li>
                            <li><a href="slider-layout-carousel.html">Carousel</a></li>
                            <li><a href="slider-layout-outbox.html">Outbox</a></li>
                            <li><a href="slider-layout-device.html">Device</a></li>
                            <li><a href="slider-layout-coverscreen.html">Coverscreen</a></li>
                            <li><a href="slider-layout-fullwidth.html">Fullwidth</a></li>
                            <li><a href="slider-layout-fullwidthRange.html">Fullwidth Range</a></li>
                            <li><a href="slider-layout-verticalThumb.html">Vertical Thumbnail</a></li>
                            <li><a href="slider-layout-nested.html">Nested</a></li>
                            <li><a href="slider-layout-multi.html">Multi</a></li>
                            <li><a href="slider-layout-caption.html">Caption</a></li>
                            <li><a href="slider-layout-heightAuto.html">Height Auto</a></li>
                            <li><a href="slider-layout-heightFixed.html">Height Fixed</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Effect</a>
                        <ul class="rm01menu">
                            
                            <li><a href="slider-effect-line.html">Line</a></li>
                            <li><a href="slider-effect-fade.html">Fade</a></li>
                            <li><a href="slider-effect-math.html">Math</a></li>
                            <li><a href="slider-effect-cssOne.html">CSS One</a></li>
                            <li><a href="slider-effect-cssTwo.html">CSS Two</a></li>
                            <li><a href="slider-effect-cssFour.html">CSS Four</a></li>
                            <li><a href="slider-effect-random.html">Effect Random</a></li>
                            <li><a href="slider-effect-control.html">Effect Control</a></li>
                        </ul>
                    </li>

                    <li>
                        <a>Slideshow</a>
                        <ul class="rm01menu">
                            
                            <li><a href="slider-slideshow-timerArc.html">Arc Timer</a></li>
                            <li><a href="slider-slideshow-timerLine.html">Line Timer</a></li>
                            <li><a href="slider-slideshow-timerOnly.html">Timer Only</a></li>
                            <li><a href="slider-slideshow-random.html">Slideshow Random</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li><a href="../documentation/index.html">Docs</a></li>
            <li><a href="http://codecanyon.net/item/rubytabs-premium-tabs-slider/14156443?ref=haibach">Buy now!</a></li>
        </ul>
        </nav>
        <!-- Menu - end
        ....................................................................  -->

    </div>
    </div>
    <!-- HEADER - end
    ======================================================================== -->






    <!-- TEMPLATE PREVIEW - begin
    ======================================================================== -->
    <div class="wrapper">
    <div class="container">

        <!-- TITLE HEADING - begin -->
        <div class="title-head">
        <div class="title-head-inner">
            <h1>SLIDESHOW ARC TIMER</h1>
        </div>
        </div>
        <!-- TITLE HEADING - end -->

        

        <!-- TABS PREVIEW - begin -->
        <div class="tabs-preview rt01 rt01outline rt01timer-arcTop"
            data-tabs='{
                "fx"          : "line",
                "speed"       : 600,
                "isSlideshow" : true,
                "slideshow"   : { "delay": 5000, "timer": "arc" },
                "timerArc"    : { "stroke": "#cc0055" }
            }'>


            <div>
                <div class="rt01pagitem">OVERVIEW
                    <!-- <br><small class="tab-desc">embbed swipe gestures</small> -->
                </div>

                <div class="row font-blokk">

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rt01img card-thumbnail" href="imgs/animal-focus-thumbnail1.jpg">Animal 1</a>
                            <div class="card-content">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat.</div>
                        </div>
                    </div>

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rt01img card-thumbnail" href="imgs/animal-focus-thumbnail2.jpg">Animal 2</a>
                            <div class="card-content">Lorem ipsum dolor sit amet, consectetur adipisi elit. Deleniti, pariatur aliquam molestias aspernatur. Facere, quibusdam.</div>
                        </div>
                    </div>

                    <div class="col4 col-xs-6">
                        <div class="card-outline">
                            <a class="rt01img card-thumbnail" href="imgs/animal-focus-thumbnail3.jpg">Animal 3</a>
                            <div class="card-content">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim donec consectetur io.</div>
                        </div>
                    </div>

                </div>
            </div>


            <div>
                <div class="rt01pagitem">SLIDER NESTED
                    <!-- <br><small class="tab-desc">create slider by plugin</small> -->
                </div>
                

                <!-- Slider Nested - begin -->
                <div class="rt01 slider-nested mark-style2 rt01nav-dark ma-b-30"
                    data-tabs='{
                        "optionsPlus" : "slider",
                        "fx"          : "rectMove",
                        "speed"       : 1000,
                        "width"       : 940,
                        "pag"         : { "type" : "bullet", "isMark" : true },
                        "isNav"       : true
                    }'>

                    <a class="rt01imgback" href="imgs/season-landscape2.jpg">season 2</a>
                    <a class="rt01imgback" href="imgs/season-landscape4.jpg">season 4</a>
                    <a class="rt01imgback" href="imgs/season-landscape6.jpg">season 6</a>
                    <a class="rt01imgback" href="imgs/season-landscape7.jpg">season 7</a>
                </div>
                <!-- Slider Nested - end -->


                <!-- Dummy Content - begin -->
                <div class="row font-blokk">

                    <div class="col4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                    </div>

                    <div class="col8">
                        <p class="dropcap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                    </div>
                </div>
                <!-- Dummy Content - end -->
            </div>


            <div>
                <div class="rt01pagitem">SWIPE PREVENT
                    <!-- <br><small class="tab-desc">link - input</small> -->
                </div>


                <div class="row bg-wrap">
                    <div class="col4">
                        <div class="rt01swipe-prevent area-highlight">
                            <h2 class="color-hl">Area prevent Swipe gestures</h2>
                            <p><i>Insert class "{ns}swipe-prevent" to stop swipe gestures on that element</i></p>
                            <p class="font-blokk"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisqua</i></p>
                            <a class="">Go to &rarr;</a>
                        </div>
                    </div>

                    <div class="col8">
                        
                        <!-- FORM TABS - begin -->
                        <div class="tabs-form rt01 rt01size-large"
                            data-tabs='{
                                "fx"     : "cssOne",
                                "cssOne" : "scalePulse",
                                "speed"  : 600
                            }'>
                            

                            <!-- REGISTER FORM - begin -->
                            <div>
                                <h4 class="rt01pagitem muted">REGISTER</h4>
                                <form class="block clearfix">

                                    <input type="text" class="large" placeholder="Username">
                                    <input type="text" class="large" placeholder="Password">
                                    <input type="text" class="large" placeholder="Repeat Password">
                                    <input type="text" class="large" placeholder="Email">
                                    <textarea name="" cols="30" rows="5" placeholder="Your bio"></textarea>

                                    <label class="checkbox text-small muted pull-left" for="terms">
                                        <input id="terms" type="checkbox">I have read and I agree the Terms of Use
                                    </label>

                                    <input class="btn large pull-right no-ma" type="submit" value="Register">
                                </form>
                            </div>
                            <!-- REGISTER FORM - end -->


                            <!-- LOGIN FORM - begin -->
                            <div>
                                <h4 class="rt01pagitem">SIGN IN</h4>
                                <form class="block clearfix">

                                    <input type="text" class="large" placeholder="Username">
                                    <input type="password" class="large" placeholder="Password">
                                    
                                    <label class="checkbox text-small muted pull-left">
                                        <input type="checkbox">Remember?
                                    </label>

                                    <input class="btn large pull-right no-ma" type="submit" value="Login">
                                </form>
                            </div>
                            <!-- LOGIN FORM - end -->

                            
                            <!-- RESET FORM - begin -->
                            <div>
                                <h4 class="rt01pagitem">ACCOUNT RESET</h4>
                                <p class="text-small muted">Forget your username or lost your password? No worries, simply <span class="color-hl">enter your email</span> and we'll send you new login details</p>
                                
                                <form class="block no-ma clearfix">
                                    <input type="text" class="large" placeholder="Email">
                                    <input class="btn large pull-right no-ma" type="submit" value="Send">
                                </form>
                            </div>
                            <!-- RESET FORM - end -->

                        </div>
                        <!-- FORM TABS - end -->

                    </div>
                </div>
            </div>


            <div>
                <div class="rt01pagitem">IMAGE LAZYLOAD</div>

                <div class="row">
                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail1.jpg">Food 1</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail2.jpg">Food 2</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail3.jpg">Food 3</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail4.jpg">Food 4</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail6.jpg">Food 6</a>
                    </div>

                    <div class="col4 col-xs-6">
                        <a class="rt01img card-img" href="imgs/food-thumbnail7.jpg">Food 7</a>
                    </div>
                </div>
            </div>


            <div>
                <div class="rt01pagitem">VIDEO
                    <!-- <br><small class="tab-desc">youtube - vimeo</small> -->
                </div>
                
                    
                <!-- Video - begin -->
                <a class="rt01imgback ma-b-30 video" href="imgs/video-preview.jpg" data-video-link="https://www.youtube.com/watch?v=2O0nz6o_oAE">Pictures of South East Asia</a>
                <!-- Video - end -->
                

                <!-- Dummy Content - begin -->
                <div class="row font-blokk">

                    <div class="col4">
                        <p class="bo-l-h"><i>Consectetur adipisicing elit. Vel, sequi, quis, minima, dolor quisquam numquam quod in repudiandae officia.</i></p>
                    </div>

                    <div class="col8">
                        <p class="dropcap">Vorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, pariatur aliquam molestias aspernatur non. Facere, quibusdam, reiciendis, natus laudantium debitis suscipit consequatur voluptatibus mollitia temporibus quia ratione dignissimos magnam provident.</p>
                        <p>Assumenda, repudiandae, iste magni labore culpa eum expedita eligendi odio molestiae temporibus id ab nihil ad sunt mollitia veritatis excepturi. Ullam, odit nesciunt doloribus natus non repudiandae error itaque vero?</p>
                    </div>
                </div>
                <!-- Dummy Content - end -->
            </div>
        </div>
        <!-- TABS PREVIEW - end -->

    </div>
    </div>
    <!-- TEMPLATE PREVIEW - end
    ======================================================================== -->





    

    <!-- Footer - begin
    ======================================================================== -->
    <div class="wrapper footer">
    <div class="container">
        
        <!-- Copyright -->
        <section class="copyright">
            <p>&copy; HaiBach. All Rights Reserved.</p>
        </section>

    </div>
    </div>
    <!-- Footer - end
    ======================================================================== -->







    <!-- Script - begin
    ======================================================================== -->
    <script src="../libs/scripts/jquery-last.min.js"></script>
    <script src="../libs/scripts/ruby01-old.js"></script>
    <script src="../libs/scripts/ruby01.js"></script>
    <script src="../ruby/rubyanimate.js"></script> <!-- Ruby Animate -->
    <script src="../ruby/rubytabs.js"></script> <!-- RubyTabs Plugins -->
    <!-- Script - end
    ======================================================================== -->

</body>
</html>